{:kotoba.app/id "cloud.itonami.isic-9319", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib6ysqfrok455eealvnoy27lktwyutmvjzmgegcfwmjq6jgca5nj4", :kotoba.app/embed-url "ipfs://bafkreib6ysqfrok455eealvnoy27lktwyutmvjzmgegcfwmjq6jgca5nj4", :published {:archive "https://kotobase.net/ipfs/bafkreib6ysqfrok455eealvnoy27lktwyutmvjzmgegcfwmjq6jgca5nj4", :size 76489, :put-status 201, :get-status 200, :at "2026-08-15T13:41:55.914Z"}}
